.fix-container {
  @media (max-width: 1400px) and (min-height: 800px) {
    max-width: 980px;
    margin: auto;
  }
  @media (max-width: 1250px) and (max-height: 850px) {
    max-width: 895px;
    margin: auto;
  }
  @media (max-width: 1300px) and (max-height: 768px) {
    max-width: 970px;
    margin: auto;
  }
  @media (max-width: 1200px) {
    max-width: 840px;
    margin: auto;
  }
  @media (max-width: 1023px) {
    height: 100%;
    display: flex;
    align-items: center;
    .row {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

.animate-img {
  @media (max-width: 1200px) {
    transform: scale(0.8);
  }
  @media (max-width: 1023px) {
    order: 1;
    margin: auto !important;
    img {
      margin-top: -15%;
      zoom: 0.8;
    }
  }
  .arrow-left {
    max-height: 26px;
    position: absolute;
    left: -45px;
    top: 0;
    bottom: 0;
    margin: auto;
    transition: 0.3s;
    transform: translateX(0);
    @media (min-width: 1023px) {
      display: none;
    }
    &.hide {
      opacity: 0;
    }
  }
  .arrow-right {
    max-height: 26px;
    position: absolute;
    right: -45px;
    top: 0;
    bottom: 0;
    margin: auto;
    transition: 0.3s;
    transform: translateX(0);
    @media (min-width: 1023px) {
      display: none;
    }
    &.hide {
      opacity: 0;
    }
  }
}

.swiper-container {
  .swiper-slide {
    &:first-child {
      .info-slide__head {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
}

.animate-img {
  position: relative;
  z-index: 20;
  display: flex;
  align-items: center;
  > img {
    position: absolute;
  }
}
h2.title__small {
  color: #fff;
  font-size: 22px;
  @include NexaLight;
}

h1 {
  color: #fff;
  font-size: 34px;
  letter-spacing: -0.44px;
  @include NexaXBold;
  @media (max-width: 1200px) {
    font-size: 28px;
  }
}

h3 {
  color: #fff;
  font-size: 20px;
  margin-top: 35px;
  letter-spacing: -0.44px;
  @include NexaXBold;
  @media (max-width: 1200px) {
    font-size: 18px;
    margin-top: 25px;
  }
  @media (max-width: 1023px) {
    font-size: 21px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

p.desc {
  margin-top: 20px;
  color: #414042;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.36px;
  opacity: 0;
  transition: 0.5s;
  @media (max-width: 1200px) {
    font-size: 16px;
    line-height: 21px;
  }
  @media (max-width: 1023px) {
    opacity: 1;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }
  @include NexaReg;
  &.show {
    opacity: 1;
  }
}

.swiper-container {
  .swiper-slide {
    &:first-child {
      .info-slide {
        justify-content: center;
      }
    }
  }
}
.info-slide {
  max-width: 540px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  &__head {
    opacity: 0;
    transform: translateY(40px);
    transition: 0.5s;
    @media (max-width: 1023px) {
      > h2,
      h1,
      img {
        display: none;
      }
    }
    &.hide-title {
      opacity: 0 !important;
      transform: translateY(-40px) !important;
    }
    &.show-title {
      opacity: 1;
      transform: translateY(0);
    }
  }
  &__other {
    min-height: 415px;
    transition: 0.5s;
    @media (max-width: 1023px) {
      min-height: auto;
      text-align: center;
    }
    &.fade-left {
      opacity: 0 !important;
      transform: translateX(-30px) !important;
    }
    &.fade-right {
      opacity: 0 !important;
      transform: translateX(30px) !important;
    }
  }

  p:not(.desc) {
    color: #414042;
    font-size: 15px;
    line-height: 22px;
    margin-top: 14px;
    letter-spacing: -0.36px;
    @include NexaReg;
    @media (max-width: 1200px) {
      font-size: 15px;
      line-height: 19px;
      margin-top: 11px;
    }
    @media (max-width: 1023px) {
      font-size: 18px;
      line-height: 22px;
    }
    > a {
      text-decoration: underline;
      color: black;
    }
  }
  ul {
    li {
      color: #414042;
      font-size: 15px;
      line-height: 22px;
      letter-spacing: -0.36px;
      @include NexaReg;
      @media (max-width: 1200px) {
        font-size: 15px;
        line-height: 19px;
      }
      @media (max-width: 1023px) {
        font-size: 18px;
        line-height: 22px;
      }
    }
  }
}

