.fix-container {
  max-width: 1090px;
  margin: auto;
}

.swiper-container {
  .swiper-slide {
    &:first-child {
      .info-slide__head {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
}

.animate-img {
  position: relative;
  z-index: 20;
  display: flex;
  align-items: center;
  > img {
    position: absolute;
  }
}
h2.title__small {
  color: #fff;
  font-size: 22px;
  @include NexaLight;
}

h1 {
  color: #fff;
  font-size: 34px;
  letter-spacing: 0.24px;
  @include NexaXBold;
}

h3 {
  color: #fff;
  font-size: 20px;
  letter-spacing: 0.24px;
  margin-top: 35px;
  @include NexaXBold;
}

p.desc {
  margin-top: 20px;
  color: #414042;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.36px;
  opacity: 0;
  transition: 0.5s;
  @include NexaReg;
  &.show {
    opacity: 1;
  }
}

.swiper-container {
  .swiper-slide {
    &:first-child {
      .info-slide {
        justify-content: center;
      }
    }
  }
}
.info-slide {
  max-width: 540px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  &__head {
    opacity: 0;
    transform: translateY(40px);
    transition: 0.5s;
    &.hide-title {
      opacity: 0 !important;
      transform: translateY(-40px) !important;
    }
    &.show-title {
      opacity: 1;
      transform: translateY(0);
    }
  }
  &__other {
    min-height: 415px;
    transition: 0.5s;
    &.fade-left {
      opacity: 0 !important;
      transform: translateX(-30px) !important;
    }
    &.fade-right {
      opacity: 0 !important;
      transform: translateX(30px) !important;
    }
  }

  p:not(.desc) {
    color: #414042;
    font-size: 15px;
    line-height: 22px;
    margin-top: 14px;
    letter-spacing: -0.36px;
    @include NexaReg;
  }
  ul {
    li {
      color: #414042;
      font-size: 15px;
      line-height: 22px;
      letter-spacing: -0.36px;
      @include NexaReg;
    }
  }
}
