@font-face {
  font-family: "Nexa";
  src:
    url("../fonts/Nexa-Bold.eot"),
    url("../fonts/Nexa-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Nexa-Bold.woff2") format("woff2"),
    url("../fonts/Nexa-Bold.woff") format("woff"),
    url("../fonts/Nexa-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Nexa XBold";
  src:
    url("../fonts/Nexa-XBold.eot"),
    url("../fonts/Nexa-XBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Nexa-XBold.woff2") format("woff2"),
    url("../fonts/Nexa-XBold.woff") format("woff"),
    url("../fonts/Nexa-XBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src:
    url("../fonts/Gotham-Black.eot"),
    url("../fonts/Gotham-Black.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gotham-Black.woff2") format("woff2"),
    url("../fonts/Gotham-Black.woff") format("woff"),
    url("../fonts/Gotham-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Nexa";
  src:
    url("../fonts/Nexa-Light.eot"),
    url("../fonts/Nexa-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Nexa-Light.woff2") format("woff2"),
    url("../fonts/Nexa-Light.woff") format("woff"),
    url("../fonts/Nexa-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Myriad Pro";
  src:
    url("../fonts/MyriadPro-Regular.eot"),
    url("../fonts/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MyriadPro-Regular.woff2") format("woff2"),
    url("../fonts/MyriadPro-Regular.woff") format("woff"),
    url("../fonts/MyriadPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nexa";
  src:
    url("../fonts/Nexa-Regular.eot"),
    url("../fonts/Nexa-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Nexa-Regular.woff2") format("woff2"),
    url("../fonts/Nexa-Regular.woff") format("woff"),
    url("../fonts/Nexa-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

