#ILLUSTRATION > g {
  transition: 0.3s;
  cursor: pointer;
}

svg {
  position: relative;
  z-index: 2;
}

.menu {
  &__title {
    h1 {
      color: #fff;
      font-size: 34px;
      letter-spacing: 0.27px;
      text-align: center;
      padding-top: 50px;
      margin-bottom: 20px;
      @include NexaXBold;
    }
    p {
      color: #fff;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.32px;
      text-align: center;
      @include NexaReg;
    }
  }
  &__svg {
    max-height: 540px;
    display: flex;
    align-items: flex-end;
    @media (min-height: 740px) {
      margin-top: 70px;
    }
    svg {
      width: 100%;
      height: 100%;
      @media (max-height: 768px) {
        transform: scale(0.8);
      }
    }
  }
}

.bottom-box {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  max-width: 159px;
  left: 0;
  right: 0;
  bottom: 36px;
  margin: auto;
  z-index: 5;
  span {
    display: inline-block;
    color: #fff;
    font-size: 12px;
    letter-spacing: -0.24px;
    margin-bottom: 29px;
    @include NexaReg;
  }
}

.color-1 {
  position: relative;
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background-image: url("images/line.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
  }
}

.hov {
  position: absolute;
  left: 0;
  right: auto;
  top: 0;
  z-index: 40;
  background-color: #fff;
  border-radius: 14px;
  padding: 2px 10px;
  display: flex;
  transition: 0.2s;
  color: #646464;
  font-size: 11px;
  @include NexaReg;
  &.hide {
    transform: translateY(20px);
    opacity: 0;
  }
}
