.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  max-width: 342px;
  width: 100%;
  bottom: 0;
  background: white;
  z-index: 1000;
  display: block;
  padding: 0 0 0 23px;
  transition: 0.3s;
  transform: translateX(100%);
  .close-nav {
    padding-top: 25px;
    padding-right: 20px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 35px;
  }
  &.open {
    transform: translateX(0);
    ul {
      li {
        transform: translateY(0) !important;
        opacity: 1 !important;
        transition-delay: 300ms;
        &:first-child {
          transition-delay: 0s;
        }
        &:nth-child(2) {
          transition-delay: 150ms;
        }
        &:nth-child(3) {
          transition-delay: 300ms;
        }
        &:nth-child(4) {
          transition-delay: 450ms;
        }
        &:nth-child(5) {
          transition-delay: 600ms;
        }
        &:nth-child(6) {
          transition-delay: 750ms;
        }
        &:nth-child(7) {
          transition-delay: 800ms;
        }
        &:nth-child(8) {
          transition-delay: 950ms;
        }
        &:nth-child(9) {
          transition-delay: 1100ms;
        }
        &:nth-child(10) {
          transition-delay: 1250ms;
        }
      }
    }
  }
  @media (min-width: 1024px) {
    display: none;
  }
  ul {
    margin-top: 20px;
    li {
      margin-bottom: 30px;
      transition: 0.6s;
      transform: translateY(35px);
      opacity: 0;
      a {
        font-size: 15px;
        color: #414042;
        letter-spacing: -0.28px;
        padding-bottom: 3px;
        text-decoration: none !important;
        @include NexaBold;
        &.active {
          border-bottom: 2px solid #414042;
        }
      }
    }
  }
}
.mobile-wrapper {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000054;
  opacity: 0;
  visibility: hidden;
  z-index: 200;
  transition: 0.3s;
  &.show {
    opacity: 1 !important;
    visibility: visible !important;
  }
}
