<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{name__title}}</title>

<style>
  body {
    overflow: hidden;
  }
  .load {
    overflow: visible !important;
  }
  .load-page {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    background-image: linear-gradient(160deg, #4d4f6d 0%, #4d4f6d 1.1420000000000001%, #5182ad 18.1888%, #5499b0 60.88350000000001%, #9cd2ad 99.9463%, #9cd2ad 100%);
  }
  body {
    background-color: #212121;
  }

  .pulse {
    height: 100px;
    width: 200px;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .pulse:after {
    content: '';
    display: block;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 200px 100px" enable-background="new 0 0 200px 100px" xml:space="preserve"><polyline fill="none" stroke-width="3px" stroke="white" points="2.4,58.7 70.8,58.7 76.1,46.2 81.1,58.7 89.9,58.7 93.8,66.5 102.8,22.7 110.6,78.7 115.3,58.7 126.4,58.7 134.4,54.7 142.4,58.7 197.8,58.7 "/></svg>') 0 0 no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-animation: 2s pulse linear infinite;
    -moz-animation: 2s pulse linear infinite;
    -o-animation: 2s pulse linear infinite;
    animation: 2s pulse linear infinite;
    clip: rect(0, 0, 100px, 0);
  }
  .pulse:before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 2px;
    right: 2px;
    bottom: 0;
    top: 16px;
    margin: auto;
    height: 3px;

  }


  @-webkit-keyframes pulse {
    0% {
      clip: rect(0, 0, 100px, 0);
      opacity: 0.4;
    }
    4% {
      clip: rect(0, 66.66667px, 100px, 0);
      opacity: 0.6;
    }
    15% {
      clip: rect(0, 133.33333px, 100px, 0);
      opacity: 0.8;
    }
    20% {
      clip: rect(0, 300px, 100px, 0);
      opacity: 1;
    }

    80% {
      clip: rect(0, 300px, 100px, 0);
      opacity:0;
    }

    90% {
      clip: rect(0, 300px, 100px, 0);
      opacity: 0;
    }

    100% {
      clip: rect(0, 300px, 100px, 0);
      opacity:0;
    }
  }
  @keyframes pulse {
    0% {
      clip: rect(0, 0, 100px, 0);
    }
    4% {
      clip: rect(0, 66.66667px, 100px, 0);
    }
    15% {
      clip: rect(0, 133.33333px, 100px, 0);
    }
    20% {
      clip: rect(0, 300px, 100px, 0);
      opacity:1;
    }

    80% {
      clip: rect(0, 300px, 100px, 0);
      opacity:0;
    }

    90% {
      opacity: 0;
    }

    100% {
      clip: rect(0, 300px, 100px, 0);
      opacity:0;
    }

  }
</style>

<!--<meta name="description" content="">
<meta name="robots" content="index,follow" />
<meta name="keywords" content="" />
<meta property="og:image" content=""/>
<meta property="og:image:width" content="" />
<meta property="og:image:height" content="" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Name project"/>
<meta property="og:description" content="" />
<meta property="og:url" content=""/>
<meta property="og:site_name" content="Name project"/>
<meta name="twitter:card" content="summary" />
<meta name="theme-color" content="" />

<link rel="apple-touch-icon" sizes="180x180" href="">
<link rel="icon" type="image/png" sizes="32x32" href="">
<link rel="icon" type="image/png" sizes="16x16" href="">
<link rel="manifest" href="favicon/site.webmanifest">
<link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="">
<meta name="msapplication-TileColor" content="">-->
