.eight-page {
  @media (min-width: 1200px) {
    .container {
      max-width: 1125px;
    }
  }
  @media (max-width: 1300px) {
    .container {
      max-width: 1030px;
    }
  }
  @media (max-width: 1100px) {
    .container {
      max-width: 855px;
    }
  }
  .anim-svg {
    position: absolute;
    max-width: 5px !important;
  }
}
.about {
  height: 100%;
  padding-top: 77px;
  z-index: 2;
  position: relative;
  &__box {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: 1200px) {
      justify-content: center;
    }
  }
  &__left {
    width: 100%;
    max-width: 575px;
    margin-right: 55px;
    @media (max-width: 1300px) {
      max-width: 530px;
      margin-right: 40px;
    }
    @media (max-width: 1200px) {
      max-width: 455px;
      margin-right: 35px;
    }
    @media (max-width: 1100px) {
      max-width: 420px;
      margin-right: 45px;
    }
    .over-img {
      margin-bottom: 30px;
    }
    p {
      color: #414042;
      font-size: 13px;
      line-height: 16px;
      margin-top: 14px;
      letter-spacing: -0.36px;
      @include NexaReg;
    }
    > a {
      padding-top: 4px;
      margin-top: 21px;
      width: 100%;
      max-width: 130px;
      height: 33px;
      background-color: #b575b4;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-size: 15px;
      text-decoration: none !important;
      border-radius: 30px;
      @include NexaReg;
    }
    .button_su {
      max-width: 130px;
      margin-top: 21px;
      visibility: visible;
      opacity: 1;
      position: relative;
    }
    ul {
      margin-top: 30px;
      li {
        display: flex;
        margin-bottom: 30px;
        &:first-of-type {
          .about__logo {
            margin-right: 45px;
          }
        }
        &:nth-child(2) {
          .about__logo {
            margin-right: 35px;
          }
        }
        &:nth-child(3) {
          .about__logo {
            margin-right: 54px;
          }
        }
        p {
          max-width: 410px;
          margin-top: 0;
          a {
            display: block;
            color: #000;
            font-size: 13px;
            @include NexaReg;
          }
        }
      }
    }
  }
  &__right {
    @media (max-width: 1200px) {
      max-width: 360px;
    }
    @media (max-width: 1100px) {
      max-width: 340px;
    }
  }
  &__logo {
    display: flex;
    align-items: center;
  }
  &__video {
    width: 100%;
    max-width: 395px;
    height: 264px;
    border: 2px solid #f1f2f2;
    margin-top: 130px;
    z-index: 5;
    iframe {
      width: 100%;
      height: 100%;
    }
    p {
      margin-top: 9px;
      color: #231f20;
      font-size: 13px;
      line-height: 16px;
      @include NexaReg;
    }
  }
}
