.five-page {
  outline: none;
  .oval {
    margin-right: 90px;
    @media (max-height: 768px) {
      margin-right: 35px;
    }
  }
  .anim-svg {
    position: absolute;
    left: 0;
    height: 100%;
    bottom: 0;
  }
  .animate-img {
    max-height: 480px;
    max-width: 363px;
    margin-right: 90px;
    @media (max-height: 768px) {
      margin-right: 35px;
    }
    @media (min-width: 991px) {
      margin-left: 18px;
    }
    img {
      transition: 0.5s;
      &:first-of-type {
        left: -52px;
        top: 100px;
        transform: scale(0.7) translateX(0);
        opacity: 0;
      }
      &:nth-of-type(2) {
        right: 12px;
        top: 128px;
        transform: scale(0.7) translateX(0);
        opacity: 0;
      }
      &:nth-of-type(3) {
        left: 65px;
        right: 83px;
        opacity: 1;
        margin: auto;
        top: 77px;
      }
      &:nth-of-type(4) {
        left: -25px;
        top: 115px;
      }
      &:nth-of-type(5) {
        right: 30px;
        top: 100px;
      }
    }
    &.start-zoom {
      img {
        &:first-of-type {
          transform: scale(1) translateX(0);
          opacity: 1;
        }
        &:nth-of-type(2) {
          transform: scale(1) translateX(0);
          opacity: 1;
        }
      }
    }
    &.hide-1 {
      img {
        &:first-of-type {
          transform: scale(1) translateX(-30px);
          opacity: 0;
        }
      }
    }
    &.hide-2 {
      img {
        &:nth-of-type(2) {
          transform: scale(1) translateX(30px);
          opacity: 0;
        }
      }
    }
    &.hide-3 {
      img {
        &:nth-of-type(3) {
          transform: scale(1) translateX(30px);
          opacity: 0;
        }
      }
    }
    &.hide-4 {
      img {
        &:nth-of-type(4) {
          transform: scale(1) translateX(-30px);
          opacity: 0;
        }
      }
    }
    &.hide-5 {
      img {
        &:nth-of-type(5) {
          transform: scale(1) translateX(30px);
          opacity: 0;
        }
      }
    }
    &.hide-6 {
      img {
        &:nth-of-type(6) {
          transform: scale(1) translateX(30px);
          opacity: 0;
        }
      }
    }
  }
}
