.one-page {
  outline: none;
  .anim-svg {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    right: auto;
    bottom: 0;
  }
  .animate-img {
    max-width: 363px;
    margin-right: 90px;
    @media (max-height: 768px) {
      margin-right: 35px;
    }
    @media (min-height: 768px) {
      margin-left: 18px;
    }
    img {
      transition: 0.5s;
      &:first-of-type {
        top: 160px;
        left: 10px;
        z-index: 5;
        transform: scale(0.7) translateX(0);
        opacity: 0;
      }
      &:nth-of-type(2) {
        top: 237px;
        right: 0;
        transform: scale(0.7) translateX(0);
        opacity: 0;
      }
      &:nth-of-type(3) {
        top: 200px;
        right: -10px;
        transform: translateX(0);
      }
      &:nth-of-type(4) {
        top: 141px;
        left: 75px;
        transform: translateX(0);
      }
      &:nth-of-type(5) {
        top: 185px;
        right: 26px;
        transform: translateX(0);
      }
    }
    &.start-zoom {
      img {
        &:first-of-type {
          transform: scale(1) translateX(0);
          opacity: 1;
        }
        &:nth-of-type(2) {
          transform: scale(1) translateX(0);
          opacity: 1;
        }
      }
    }
    &.hide-1 {
      img {
        &:first-of-type {
          transform: scale(1) translateX(-30px);
          opacity: 0;
        }
      }
    }
    &.hide-2 {
      img {
        &:nth-of-type(2) {
          transform: scale(1) translateX(30px);
          opacity: 0;
        }
      }
    }
    &.hide-3 {
      img {
        &:nth-of-type(3) {
          transform: scale(1) translateX(30px);
          opacity: 0;
        }
      }
    }
    &.hide-4 {
      img {
        &:nth-of-type(4) {
          transform: scale(1) translateX(-30px);
          opacity: 0;
        }
      }
    }
    &.hide-5 {
      img {
        &:nth-of-type(5) {
          transform: scale(1) translateX(30px);
          opacity: 0;
        }
      }
    }
  }
}
