.section.color-3 {
  position: relative;
  .top {
    position: absolute;
    left: 0;
    top: 0;
  }
  .down {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
.two-page {
  outline: none;
  .oval {
    margin-left: 90px;
    @media (max-height: 768px) {
      margin-left: 35px;
    }
  }
  .anim-svg {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    height: 100%;
    right: auto;
    bottom: 0;
  }
}
