.section.color-3 {
  position: relative;
  .top {
    position: absolute;
    left: 0;
    top: 0;
  }
  .down {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
.two-page {
  outline: none;
  .anim-svg {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    height: 100%;
    right: auto;
    bottom: 0;
  }
  .animate-img {
    max-width: 363px;
    margin-left: 90px;
    @media (max-height: 768px) {
      margin-left: 35px;
    }
    @media (min-height: 768px) {
      margin-right: 18px;
    }
    img {
      position: absolute;
      transition: 0.5s;
      &:first-of-type {
        left: 10px;
        top: 90px;
        transform: scale(0.7) translateX(0);
        opacity: 0;
      }
      &:nth-of-type(2) {
        right: 10px;
        top: 70px;
        transform: scale(0.7) translateX(0);
        opacity: 0;
      }
      &:nth-of-type(3) {
        left: -20px;
        top: 50px;
      }
      &:nth-of-type(4) {
        left: -135px;
        top: 190px;
      }
      &:nth-of-type(5) {
        left: -43px;
        right: 0;
        top: 33px;
        bottom: 0;
        transform: scale(1) translateY(0);
        margin: auto;
      }
      &:nth-of-type(6) {
        right: 30px;
        top: 150px;
      }
      &:nth-of-type(7) {
        left: -57px;
        right: 0;
        top: 90px;
        bottom: 0;
        margin: auto;
      }
    }
    &.start-zoom {
      img {
        &:first-of-type {
          transform: scale(1) translateX(0);
          opacity: 1;
        }
        &:nth-of-type(2) {
          transform: scale(1) translateX(0);
          opacity: 1;
        }
      }
    }
    &.hide-1 {
      img {
        &:first-of-type {
          transform: scale(1) translateX(-30px);
          opacity: 0;
        }
      }
    }
    &.hide-2 {
      img {
        &:nth-of-type(2) {
          transform: scale(1) translateX(30px);
          opacity: 0;
        }
      }
    }
    &.hide-3 {
      img {
        &:nth-of-type(3) {
          transform: scale(0);
          opacity: 0;
        }
      }
    }
    &.hide-4 {
      img {
        &:nth-of-type(4) {
          transform: scale(1) translateX(-30px);
          opacity: 0;
        }
      }
    }
    &.hide-5 {
      img {
        &:nth-of-type(5) {
          transform: scale(1) translateY(50px);
          opacity: 0;
        }
      }
    }
    &.hide-6 {
      img {
        &:nth-of-type(6) {
          transform: scale(1) translateX(30px);
          opacity: 0;
        }
      }
    }
    &.hide-7 {
      img {
        &:nth-of-type(7) {
          transform: scale(1) translateX(30px);
          opacity: 0;
        }
      }
    }
  }
}
