.color-1 {
  background-image: linear-gradient(160deg, #4d4f6d 0%, #4d4f6d 1.1420000000000001%, #5182ad 18.1888%, #5499b0 60.88350000000001%, #9cd2ad 99.9463%, #9cd2ad 100%);
}
.color-2 {
  background-image: linear-gradient(160deg, #6cc2b0 0%, #6cc2b0 13.568%, #f5e087 99.8282%, #f5e087 100%);
}

body {
  position: relative;
}
