.color-1 {
  background-image: linear-gradient(160deg, #4d4f6d 0%, #4d4f6d 1.1420000000000001%, #5182ad 18.1888%, #5499b0 60.88350000000001%, #9cd2ad 99.9463%, #9cd2ad 100%);
}
.color-2 {
  background-image: linear-gradient(160deg, #6cc2b0 0%, #6cc2b0 13.568%, #f5e087 99.8282%, #f5e087 100%);
}
.color-3 {
  background-image: linear-gradient(160deg, #64d0eb 0%, #64d0eb 0.08504980000000004%, #e6eed6 100%);
}
.color-4 {
  background-image: linear-gradient(160deg, #f482a3 0%, #ff9f81 70.77240000000002%, #ff9f81 100%);
}
.color-5 {
  background-image: linear-gradient(160deg, #f8aec2 0%, #b9c0fa 99.91329999999999%, #b9c0fa 100%);
}
.color-6 {
  background-image: linear-gradient(160deg, #9b98be 0%, #9b98be 0.20152400000000006%, #a2e2d5 88.93490000000001%, #a2e2d5 100%);
}

#Group-2 g {
  transition: 0.3s;
  cursor: pointer;
}
body {
  position: relative;
}

.section {
  overflow: hidden;
}

.anim-svg {
  max-width: 715px;
  @media (max-width: 1600px) {
    width: 715px;
  }
  @media (max-width: 1400px) and (min-height: 850px) {
    max-width: 630px;
    width: 100%;
  }
  @media (max-width: 1250px) and (max-height: 850px) {
    max-width: 573px;
    width: 100%;
  }
  @media (max-width: 1250px) and (max-height: 850px) {
    max-width: 540px;
    width: 100%;
  }
  @media (max-width: 1300px) and (max-height: 800px) {
    width: 100%;
    max-width: 600px;
  }
  @media (max-width: 1100px) {
    max-width: 483px;
    width: 100%;
  }
}

/*.color-2 {
  .swiper-container {
    display: none;
  }
}
//swiper all
.swiper-wrapper {
  height: 100%;
}
.swiper-container {
  width: 100%;
  height: 100%;
}*/

.swiper-container {
  width: 100%;
  height: 100%;
  max-width: 540px;
  overflow: visible !important;
  .swiper-slide {
    width: 100%;
    height: 100%;
  }
}

//oval-color
.oval {
  min-width: 363px;
  max-width: 363px;
  height: 364px;
  border-radius: 50%;
  &.right {
    margin-left: 90px;
  }
  &.left {
    margin-right: 90px;
  }
}

.oval-color-1 {
  background-color: #60bb84;
}

.oval-color-2 {
  background-color: #60cce2;
}

.oval-color-3 {
  background-color: #d97e8a;
}

.oval-color-4 {
  background-color: #cc9bb8;
}

.oval-color-5 {
  background-color: #87a5bc;
}

.section:not(.color-1) {
  svg {
    pointer-events: none;
  }
}

.slider-right {
  position: relative;
  max-width: 540px;
  @media (max-width: 1250px) and (max-height: 850px) {
    max-width: 450px;
  }
  @media (max-width: 1500px) and (max-height: 750px) {
    max-width: 540px;
  }
  @media (max-width: 1100px) and (max-height: 760px) {
    max-width: 405px;
  }
}

.swiper-slide {
  &.hide {
    opacity: 0 !important;
  }
}

.swiper-wrapper {
  height: calc(100% - 30px);
}

//pagination

.navigation-pag {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 240px;
  > div {
    cursor: pointer;
  }
  ul {
    display: flex;
    align-items: center;
    margin: 0 12px;
    li {
      cursor: pointer;
      display: block;
      margin: 0 12px;
      width: 8px;
      height: 8px;
      border: 2px solid #fff;
      border-radius: 50%;
      transition: 0.3s;
      &.def {
        background-color: #fff;
        opacity: 0.4;
      }
      &.active {
        background-color: #fff;
      }
      &:hover {
        background-color: #fff !important;
        opacity: 1 !important;
      }
    }
  }
}

.navigation-one {
  opacity: 0;
  transition: 0.5s;
  &.show {
    opacity: 1;
  }
}

//tooltip animate
.tooltip_alt {
  transform: translateX(-300%) !important;
  transition: 0.6s !important;
  &.show {
    transform: translateX(0) !important;
  }
}


