.color-1 {
  background-image: linear-gradient(160deg, #4d4f6d 0%, #4d4f6d 1.1420000000000001%, #5182ad 18.1888%, #5499b0 60.88350000000001%, #9cd2ad 99.9463%, #9cd2ad 100%);
}
.color-2 {
  background-image: linear-gradient(160deg, #6cc2b0 0%, #6cc2b0 13.568%, #f5e087 99.8282%, #f5e087 100%);
}

body {
  position: relative;
}

.section {
  overflow: hidden;
}

.color-2 {
  .swiper-container {
    display: none;
  }
}
//swiper all
.swiper-wrapper {
  height: 100%;
}
.swiper-container {
  width: 100%;
  height: 100%;
  .swiper-slide {
    width: 100%;
    height: 100%;
  }
}

//oval-color
.oval {
  min-width: 363px;
  max-width: 363px;
  height: 364px;
  border-radius: 50%;
  margin-right: 90px;
}

.oval-color-1 {
  background-color: #60bb84;
}
