/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

// Colours
$colour-blue: #2980b9;

// Box shadows
$shadow-1: 0 1px 3px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.05);
$shadow-2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.05);
$shadow-3: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.05);
$shadow-4: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
$shadow-5: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);

// Animation timings
$animation-elastic: cubic-bezier(0.63, 0.62, 0.48, 1.3);

/** Customise Bootstrap variables here */
// Refer to https://bit.ly/2uIqqvR
// It is strongly recommended to tweak bootstrap variable rather than overriding them in css

// Example of customising primary bootstrap brand colours
$theme-colors: (
  primary: $colour-blue,
  secondary: darken($colour-blue, 15%)
);
